beautifulsoup4
dotenv
requests
lxml
langchain
langchain-text-splitters
langchain-mistralai
langchain-core
langchain-community
sentence-transformers
qdrant-client==1.7.3
numpy
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
